<h2>Cities</h2>

@if (cities.length === 0) {
  <p class="text-red">No cities available.</p>
}

<div class="flex">
  <div class="flex-1 w-50">
    <div class="table-container">
      <table class="table w-100" [formGroup]="putCityForm">
        <thead>
        <tr>
          <th>#</th>
          <th>City Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody formArrayName="cities">
          @for (city of cities; track city; let i =  $index) {
            <tr>
              <td>{{i+1}}</td>
              <td [formGroupName]="i">
                <input type="text" formControlName="name" [ngClass]="{ 'border-less-textbox': city.id != editCityId, 'form-input': city.id == editCityId}"
                       [disableControl]="city.id != editCityId">
              </td>
              <td style="width: 200px">
                @if (city.id != editCityId) {
                <button class="button button-blue-back" (click)="editClicked(city)">
                  Edit
                </button>
                }
                @if (city.id == editCityId) {
                <button class="button button-blue-back" (click)="updateClicked(i)">
                  Update
                </button>
                }

                @if (city.id != editCityId) {
                  <button class="button button-red-back ml" (click)="deleteClicked(city, i)">
                    Delete
                  </button>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

<!--  right box -->
  <div class="flex-1">
    <div class="form-container">
      <h3>Create City</h3>

      <form [formGroup]="postCityForm" (ngSubmit)="postCitySubmitted()">
        <!--City Name-->
        <div class="form-field flex">
          <div class="w-25">
            <label class="form-label pt">City Name</label>
          </div>
          <div class="flex-1">
            <input type="text" class="form-input" formControlName="cityName"/>
            @if ((postCity_CityNameControl.touched || isPostCityFormSubmitted) && (postCity_CityNameControl.errors?.['required'])) {
              <span class="text-red">City Name can't be blank</span>
            }
          </div>
        </div>

        <div class="form-field flex">
          <div class="w-25"></div>
          <div class="flex-1">
            <button class="button button-green-back">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
